#toolbar {
  width: 100%;
  height: 130px;
  background-color: #34495e;
}
.bar {
  width: 100%;
  height: 5px;
  background-color: #000000;
}

#generateArray {
  font-size: 16px;
  font-family: monospace;
  display: inline-block;
  margin-left: 25px;
  margin-right: 15px;
}

#generateArray:hover {
  color: rgb(212, 212, 212) !important;
}

#generateArrayX {
  font-size: 16px;
  font-family: monospace;
  display: inline-block;
  margin-left: 25px;
  margin-right: 15px;
}

#arraySize {
  margin-left: 12px;
  margin-right: 12px;
}

#changeSize {
  outline: none;
  margin-right: 12px;
}

#arraySpeed {
  margin-left: 12px;
  margin-right: 12px;
}

#changeSpeed {
  outline: none;
  margin-right: 12px;
}


.separator {
  width: 5px;
  height: 55px;
  background-color: rgba(0, 0, 0, 0.8);
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;
}

.algorithmButton {
  color: white;
  font-size: 16px;
  font-family: monospace;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}

.algorithmButton:hover {
  color: rgb(212, 212, 212);
}

.currentAlgorithmButton {
  color: rgb(241, 94, 255);
  font-size: 16px;
  font-family: monospace;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}

#sort {
  font-size: 16px;
  font-family: monospace;
  display: inline-block;
  margin-left: 15px;
}

#sort:hover {
  color: rgb(212, 212, 212);
}

/* input[type=range] {
    -webkit-appearance: none;
    border: 1px solid #96B312;
    width: 100px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100px;
    height: 5px;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #B3122A;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
    background: #96B312;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #96B312;
}

input[type=range]::-moz-range-track {
    width: 100px;
    height: 5px;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #B3122A;
}

input[type=range]:-moz-focusring{
    outline: 1px solid #96B312;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 100px;
    height: 5px;
    background: #96B312;
    border-color: transparent;
    border-width: 6px 0;
    color:  #96B312;
}

input[type=range]::-ms-fill-lower {
    background: #96B312;
    border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
    border-radius: 10px;
    background: #929683;
}

input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #B3122A;
}

input[type=range]:focus::-ms-fill-lower {
    background: #96B312;
}

input[type=range]:focus::-ms-fill-upper {
    background: #929683;
} */




input[type=range] {
  -webkit-appearance: none;
  border: 1px solid #96B312;
  width: 100px;
}
input[type=range]:focus {
  outline: none;
}


input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
}



input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 16px;
  width: 16px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2497E3;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
}



input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #A1D0FF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100px;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #A1D0FF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #2497E3;
}
input[type=range]:focus::-ms-fill-upper {
  background: #2497E3;
}
